{% load static %}

<footer class="container-fluid pl-0 pr-0 border-top">
	<div class="container pt-5 pb-2">                
		<div class="row ">
			<div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center">
				<a href="index.html"><img src="{% static 'img/svg/logo-shumoff-white.svg' %}" width="150" class="footer-logo" height="75" alt="logo"></a>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center">
				<div class="footer-address">
					<h2 class="footer_title">Kонтакты</h2>
					<div class="list-unstyled d-inline-block">
						<span class="d-flex">
							<i class="fa fa-home pt-2"></i>
							г.Ташкент, Сергелийский р-н, ул. Янги Сергели, дом 9
					</span>
						<span class="d-flex">
							<i class="fa fa-phone pr-1 pt-2"></i>
							+998 97 704 00 16
					</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-5 social_icon_div ">
				<div class="social__icon list-unstyled">
					<span class="icon_instagram">
						<a href="https://www.instagram.com/accounts/login/?hl=ru">
							<i class="fab fa-instagram"></i>
						</a>
					</span>

					<span class="icon_telegram">
						<a href="https://t.me/"><i class="fab fa-telegram"></i></a>
				</span>

					<span class="icon_facebook">
						<a href="https://www.facebook.com/login/device-based/regular/login/?login_attempt=1&lwv=110">
							<i class="fab fa-facebook"></i>
						</a>
					</span>
					<!-- visitor counters -->
						<aside id="custom_html-2" class="widget_text widget widget_custom_html">
							<div class="textwidget custom-html-widget"><!-- Yandex.Metrika informer -->
						<!-- <a href="https://metrika.yandex.ru/stat/?id=71016700&amp;from=informer" target="_blank" rel="nofollow noopener">
							<img src="https://informer.yandex.ru/informer/71016700/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" 
							style="width:100px; height:30px; border:0; margin-left:10px;  " alt="Яндекс.Метрика" 
							title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" 
							class="ym-advanced-informer" data-cid="71016700" data-lang="ru"></a>
							 -->
						<script type="text/javascript">
							(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
						m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
						(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
						
						ym(71016700, "init", {
								clickmap:true,
								trackLinks:true,
								accurateTrackBounce:true
						});
						</script>
						<noscript><div><img src="https://mc.yandex.ru/watch/71016700" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
						</div>
						</aside>
					<!-- visitor counters -->
				</div>
			</div>
		</div>
		
	</div>
	<div class="container">
		<div class="row pt-1 pb-3">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 footer_info form-inline justify-content-between text-sm-center">
				<span class="text-sm-center">{% now  "Y" as current_year %}&copy; {{current_year}} Shumoff.uz Все право защищены.</span>
				<span>Сайт разработан в студио инновационныx разработок MYWEB.UZ.</span>
			</div>
		</div>
	</div>
</footer>